nav{
    width: 200px;
    margin-bottom: 20px;
    text-align: left;
}

#menu{
    width: 100%;
    background-color: white;
    height: 50px;
}

.inicio{
    display: inline-block;
}

button{
    border:0px;
    background-color: white;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

button:hover{
    background-color: grey;
}