nav{
    width: 100%;
    text-align: left;
    background-color: white;
    height: 50px;
}

#header{
    width: 100%;
}

.inicio{
    display: inline-block;
}

button{
    border:0px;
    background-color: white;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

button:hover{
    background-color: grey;
}