span{
    height: 20px;
    width: 100px;
}
span .terminada{
    background-color: green;
    text-align: center;
}

span .proceso{
    background-color: yellow;
    text-align: center;
}

span .iniciada{
    background-color: red;
    text-align: center;
}

ul{
    list-style: none;
}

